.memberList{
    a:hover{
        border-bottom: 2px solid $primary;
    }
}
.form-control-plaintext:focus{
    outline: 0;
}
.memberDetail{
    i{
        margin-right: 5px;
    }
    span{
        margin-left: 6px;
    }
}
